@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dosis:wght@200..800&family=Julius+Sans+One&family=Lilita+One&family=Poetsen+One&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: "Lilita One", sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-family: Poppins-Regular, sans-serif;
    background-image: url('images/bg.jpg');
    background-repeat: round;
}

body a
{
    text-decoration: none;
    color: #000;
}

header
{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 12%;
    transition: all .50s ease;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo
{
    display: flex;
    align-items: center;

}

.logo img
{
    width: 40px;
    margin-right: 3px;
    transition: all .50 ease;
}

.logo span
{
    color: #3688c8;
    font-size: 1.7rem;
    transition: all .50 ease;
}

.navbar
{
    display: flex;
    margin-top: 15px;
}

.navbar a
{
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover
{
    color: #3688c8;
}

.navbar a.active
{
    color: #3688c8;;
}

.main
{
    display: flex;
    align-items: center;
}

.main a
{
    margin-right: 25px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.main a:hover
{
    color: #3688c8;
}

.container {
    margin-top: 120px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 40px;
    text-align: right;
}

.containerProducts {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 40px;
    text-align: right;
    width: 50%;
}

.title {
    text-align: center;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product p {
    text-align: center;
}

.product img {
    max-width: 600px;
    height: auto;
}

#planeHome {
    position: absolute;
    left: 120px;
    z-index: 2;
    width: 30%;
}

.container p {
    margin-left: 25vw;
    line-height: 2.5vw;
}

.containerProducts p {
    line-height: 2.5vw;
}

footer {
    position: relative;
    width: 100%;
    bottom: -140px;
}
